.container {
  text-align: center;
}

img {
  height: 150px;
}

#one, #two, #three, #four, #five, #six {
  display: none;
}

button {
  color: black;
}

/*#game_display {
  display: none;
}*/

@media screen and (max-width: 1440px) {
  body {
    background-image: url(../img/90s_background.gif);
  }
}
