.container {
  text-align: center;
}

button {
  height: 100px;
  width: 100px;
  margin: 12px 5px;
}

/*@media screen and (max-width: 1440px) {
  body {
    background-image: url(../img/90s_background.gif);
  }
}*/
